*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    position: fixed;
    height: 46px;
    background-color: rgb(152, 32, 32);
    top: 0;
    left: 0;
    right: 0;   
}
#nav > li > a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
    text-transform: uppercase;
    color: white; 
}
#nav li{
    display: inline-block;
    position: relative; 
}
#nav{
    display: inline-block;
}
#nav > li:hover > a{
    color: black;
    background-color: #ccc;
}
#gioi-thieu {
  background-image: url(./assets/image/image1.jpg);
  background-size: cover ;
  width: 100%;
  height: 700px;
}
#gioi-thieu  {
    margin-top: 46px;   
    padding-top: 40%;

}
#gioi-thieu h2 {
    color: white;
    font-size: 26px;
    text-align: center;
    padding-bottom: 12px;
    font-style: italic;
}
#gioi-thieu h3{
    text-align: center;
    padding-bottom: 12px;
    font-weight: 150;
}
#gioi-thieu2 {
    width: 600px;
    height: 500px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
#gioi-thieu2 .gt2-heading{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    
    font-style: italic;

}
#gioi-thieu2 .gt2-content{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6;
}
#tieu-su{
    width: 500px;
    margin-left: auto;
    margin-right: auto;

}
#tieu-su img{


    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
